# Python
__pycache__/
*.py[cod]
*$py.class
.mypy_cache/
.pytest_cache/
.coverage
.pytest_cache/

# Virtual Environment
.venv/
venv/
env/
.env

# Dependency Files
uv.lock
pipfile.lock

# Environment Variables
.env

# Build Artifacts
build/
dist/
*.egg-info/

# Docker
.dockerignore

my_battle_policy.py
selection_policy.py
TeamBuildPolicy.py
competitor.py

TODO.md

# import helper
PythonImportHelper-v2-Completion.json
.vscode/.vscode/
.python-version
temp/

limitless_vgc.json